@charset "UTF-8";

/*Обнуление*/

@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Poppins;
  background: #fff;
  font-style: normal;
  color: #030a1b;
}

.wrapper a {
  color: inherit;
}

.wrapper img {
  border-radius: 10px;
}

.container {
  max-width: 1147px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

body.lock {
  overflow: hidden;
}

.title {
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  display: inline-flex;
}

.title::before {
  content: url(../img/home.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-25%, 0);
  opacity: 0.1;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}

.btn {
  padding: 10px 20px;
  background: #2e6eff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0.3s;
}

.btn:hover {
  background: #002fff;
}

.no-fill {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fe753f;
  text-transform: uppercase;
  background-color: transparent;
}

.item-value {
  font-size: 22px;
  line-height: 150%;
  font-weight: 600;
}

.header .header__container {
  padding: 35px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__container .btn {
  margin: 0 0 0 50px;
  padding: 15px 30px;
}

.header .header__logo {
  flex: 1 1 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header .header__burger {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

.header .header__menu.active {
  transition: transform 0.3s ease;
  transform: translate(0, 0);
}

.header .header__items {
  display: flex;
  gap: 50px;
}

.header .header__items li {
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.header .header__items li.active {
  color: #fe753f;
}

main .start {
  padding: 35px 0 200px 0;
}

main .start__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

main .start__body {
  padding: 43px 0;
  max-width: 558px;
  min-width: 290px;
  width: 100%;
}

main .start__title {
  font-weight: 600;
  line-height: 120%;
  margin: 0 0 30px 0;
}

main .start__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.7;
}

main .start__image img {
  width: 43.08vw;
  max-width: 484px;
}

main .start__click {
  position: absolute;
  margin: 40px 0 0 0;
  max-width: 842px;
  width: 95%;
}

main .start__btns {
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 5px 5px 0px 0px;
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.7;
}

main .start__btn {
  padding: 15px 22px;
  background: transparent;
  transition: all 0.3s;
}

main .start__btn.active {
  color: #fe753f;
}

main .start__btn:hover {
  background-color: #dbdbdb;
}

main .start__click-body {
  padding: 30px 22px;
  background: #ffffff;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .start__click-body .btn {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

main .start__click-body .btn::before {
  content: url(../img/search.svg);
  transform: translate(0, 2.5px);
}

main .start-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

main .start__click-body-btn {
  flex: 1 1 auto;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
}

main .start__click-body-btn::after {
  content: url(../img/arrowdown.svg);
}

main .start__click-value {
  font-weight: 500;
}

main .partners {
  padding: 0 0 65px 0;
}

main .partners__container {
  text-align: center;
}

main .partners__title {
  margin: 0 0 65px 0;
}

main .partners__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 100px;
       column-gap: 100px;
  row-gap: 20px;
}

main .popular {
  padding: 75px 0;
}

main .popular__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 70px 0;
}

main .popular__body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

main .popular__item {
  flex: 0 1 362px;
  box-shadow: 0px 8px 70px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}

main .popular__item img:nth-child(1) {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: auto;
}

main .popular__item .btn {
  white-space: nowrap;
}

main .popular__item-body {
  padding: 30px;
}

main .popular__item-head {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

main .popular__item-title {
  flex: 1 1 auto;
}

main .popular__item-tag {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

main .popular__item-tag::before {
  content: url(../img/tag.svg);
}

main .popular__item-options {
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

main .popular__item-bed {
  display: flex;
  align-items: center;
  gap: 5px;
}

main .popular__item-bed::before {
  content: url(../img/bed.svg);
}

main .popular__item-kitchen {
  display: flex;
  align-items: center;
  gap: 5px;
}

main .popular__item-kitchen::before {
  content: url(../img/kitchen.svg);
}

main .popular__item-bathroom {
  display: flex;
  align-items: center;
  gap: 5px;
}

main .popular__item-bathroom::before {
  content: url(../img/bathroom.svg);
}

main .popular__item-footer {
  display: flex;
  align-items: center;
  gap: 15px;
}

main .popular__item-footer .popular__item-title {
  color: #fe753f;
}

main .like {
  cursor: pointer;
}

main .privilege {
  background-color: #f9f9f9;
  padding: 70px 0;
}

main .privilege__container {
  text-align: center;
}

main .privilege__title {
  margin: 0 0 10px 0;
}

main .privilege__text {
  margin: 0 0 70px 0;
}

main .privilege__body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

main .privilege__col-1 {
  flex: 0 1 362px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main .privilege__item {
  padding: 25px;
  border-radius: 10px;
  background: #ffffff;
  text-align: left;
}

main .privilege__item-image {
  width: 46px;
  height: 46px;
  background: rgba(254, 117, 63, 0.1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px 0;
}

main .privilege__item-title {
  margin: 0 0 10px 0;
}

main .privilege__col-2 {
  flex: 0 1 362px;
}

main .privilege__col-2 img {
  width: 100%;
  height: auto;
}

main .privilege__col-3 {
  flex: 0 1 362px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main .reviews {
  padding: 140px 0;
}

main .reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .reviews__title {
  margin: 10px 0 70px;
}

main .reviews__item {
  flex: 0 1 558px;
  border: 2px solid rgba(254, 117, 63, 0.1);
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

main .reviews__item::after {
  content: url(../img/quote.svg);
  position: absolute;
  top: 30px;
  right: 30px;
}

main .reviews__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 5px auto;
  -ms-grid-columns: 74px 31px auto;
      grid-template: repeat(2, auto)/74px auto;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
  row-gap: 5px;
  margin: 0 0 36px 0;
}

main .reviews__image {
  border-radius: 50%;
  width: 74px;
  height: 74px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

main .reviews__item-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

main .reviews__item-head-text {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

main .slider {
  max-width: 100%;
  position: relative;
}

main .slider .slick-list {
  overflow: hidden;
}

main .slider .slick-slide {
  transition: all 0.3s;
}

main .slider .slick__item.slick-current {
  transition: all 0.3s;
  opacity: 1;
}

main .slider .slick-track {
  display: flex;
  gap: 30px;
}

main .slider .slick-arrow {
  position: absolute;
}

main .slider .slick-arrow.slick-prev {
  cursor: pointer;
}

main .slider .slick-arrow.slick-prev::before {
  content: url(../img/arrowprev.svg);
}

main .slider .slick-arrow.slick-next {
  cursor: pointer;
}

main .slider .slick-arrow.slick-next::after {
  content: url(../img/arrownext.svg);
}

main .slider .slick-dots {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  display: flex;
  gap: 10px;
  left: 50%;
  bottom: -40px;
  transform: translate(-50%, 0);
}

main .slider .slick-dots li {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ededed;
}

main .slider .slick-dots li.slick-active {
  background-color: #2e6eff;
}

main .slider .slick-dots li button {
  font-size: 0;
}

main .message__container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #433e89;
  border-radius: 10px;
  position: relative;
}

main .message__container::after,
main .message__container::before {
  content: "";
  position: absolute;
  width: 208px;
  height: 208px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.1;
}

main .message__container::after {
  top: 11px;
  left: -155px;
}

main .message__container::before {
  right: 15px;
  bottom: -140px;
}

main .message__body {
  text-align: center;
  padding: 70px 0;
  flex: 0 1 743px;
  width: 100%;
}

main .message__title {
  margin: 0 0 15px 0;
}

main .message__title::before {
  content: "";
}

main .message__text {
  margin: 0 0 70px 0;
}

main .sub {
  display: flex;
  padding: 7px;
  background-color: #fff;
  border-radius: 10px;
}

main .sub.error {
  box-shadow: 1px 1px 15px red;
}

main .mail {
  flex: 1 1 auto;
  padding: 0 30px;
}

main .input {
  padding: 15px 40px;
  cursor: pointer;
}

main .popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 999;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.8s;
}

main .popup.open {
  opacity: 1;
  visibility: visible;
}

main .popup.open .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0, 0) rotateX(0deg);
}

main .popup .popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

main .popup .popup__content {
  background: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s;
  opacity: 0;
  transform: perspective(600px) translate(0, -100%) rotateX(45deg);
}

main .popup .popup__close {
  position: absolute;
  right: 40px;
  top: 25px;
}

main .popup .popup__close::before,
main .popup .popup__close::after {
  content: "";
  position: absolute;
  width: 25px;
  background: #000;
  height: 3px;
  border-radius: 3px;
}

main .popup .popup__close::before {
  transform: rotate(45deg);
}

main .popup .popup__close::after {
  transform: rotate(-45deg);
}

main .popup .popup__title {
  margin: 0 0 0.5em 0;
}

main .popup .popup__text .text {
  margin: 0 0 15px 0;
}

main .popup .close-popup {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

footer {
  padding: 140px 0;
}

footer .footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

footer .footer__col-1 {
  flex: 0 1 260px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

footer .footer__contacts {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

footer .footer__contacts li {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fe753f;
}

footer .footer__contacts li img {
  border-radius: 0;
  padding: 8px;
}

footer .footer__title {
  margin: 0 0 25px 0;
}

footer .footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
  .title {
    font-size: calc(30px + 14 * (100vw / 1147));
  }

  .item-value {
    font-size: calc(20px + 2 * (100vw / 1147));
  }

  main .start__title {
    font-size: calc(30px + 31 * (100vw / 1147));
  }
}

@media (min-width: 1147px) {
  .title {
    font-size: 44px;
  }

  .item-value {
    font-size: 22px;
  }

  main .start__title {
    font-size: 61px;
  }
}

@media (max-width: 992px) {
  .header .header__container .btn {
    margin: 0 0 0 20px;
  }

  .header .header__items {
    gap: 20px;
  }

  main .privilege__body {
    flex-direction: column;
    align-items: center;
  }

  main .privilege__col-1 {
    flex: 1 1 auto;
  }

  main .privilege__col-2 {
    flex: 1 1 auto;
  }

  main .privilege__col-3 {
    flex: 1 1 auto;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: calc(30px + 23.8 * ((100vw - 320px) / 1147));
  }

  .item-value {
    font-size: calc(20px + 3.4 * ((100vw - 320px) / 1147));
  }

  .header .header__container {
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #fff;
  }

  .header .header__container .btn {
    margin: 0 0 0 0;
  }

  .header .header__burger {
    z-index: 5;
    margin: 0 60px 0 0;
    display: block;
    right: 0;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 20px;
  }

  .header .header__burger span,
  .header .header__burger::after,
  .header .header__burger::before {
    position: absolute;
    height: 10%;
    left: 0;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: #030a1b;
  }

  .header .header__burger::after,
  .header .header__burger::before {
    content: "";
  }

  .header .header__burger::before {
    top: 0;
  }

  .header .header__burger::after {
    bottom: 0;
  }

  .header .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header .header__burger.active span {
    transform: scale(0);
  }

  .header .header__burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }

  .header .header__burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }

  .header .header__menu {
    position: fixed;
    transition: transform 0.3s ease;
    transform: translate(-100%, 0);
    overflow: auto;
    text-align: center;
    left: 0;
    background: #fff;
    top: 90px;
    width: 100%;
    height: 100%;
    z-index: 50;
  }

  .header .header__menu .btn {
    font-size: 30px;
  }

  .header .header__items {
    margin: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .header .header__items li {
    font-size: 30px;
  }

  main .start {
    padding: 35px 0 100px 0;
  }

  main .start__container {
    flex-direction: column;
  }

  main .start__body {
    padding: 100px 0 0 0;
    max-width: none;
    width: 100%;
  }

  main .start__title {
    font-size: calc(30px + 52.7 * ((100vw - 320px) / 1147));
  }

  main .start__image {
    margin: 0 0 0 auto;
  }

  main .start__image img {
    width: 100%;
    height: auto;
  }

  main .start__click {
    bottom: 40px;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  main .start__click-body {
    display: inline-flex;
    flex-direction: column;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
    gap: 20px;
  }

  main .start-item {
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  main .like {
    transform: scale(1.5);
  }

  main .reviews__item {
    flex: 0 1 320px;
  }

  main .slider .slick-dots {
    gap: 20px;
  }

  main .slider .slick-dots li {
    transform: scale(1.5);
  }

  footer {
    padding: 70px 0;
  }

  footer .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  footer .footer__col-1 {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 1 auto;
  }

  footer .footer__contacts {
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  footer .footer__contacts li {
    transform: scale(1.5);
  }
}

@media (max-width: 480px) {
  main .start__container {
    gap: 0px;
  }

  main .start__click {
    position: relative;
    margin: 60px 0 0 0;
  }

  main .sub {
    flex-direction: column;
  }

  main .mail {
    padding: 15px 30px;
  }
}

@media (max-width: 400px) {
  .header .header__logo img {
    width: 200px;
  }

  .header .header__menu {
    top: 80px;
  }

  main .reviews__item {
    flex: 0 1 290px;
  }
}